$mdc-typography-font-family: unquote("Roboto Mono, monospace");
$mdc-layout-grid-columns: (
        desktop: 4,
        tablet: 2,
        phone: 1
) !default;

//$mdc-theme-primary: #64FFDA;
//$mdc-theme-background: #121212;
//$mdc-theme-surface: #151515;
//
//$mdc-theme-on-surface: hsl(0, 0%, 80%);
@import "~@material/button/mdc-button";
@import "~@material/textfield/mdc-text-field";
@import "~@material/card/mdc-card";
@import "~@material/theme/mdc-theme";
@import "~@material/elevation/mdc-elevation";
@import "~@material/typography/mdc-typography";
@import "~@material/layout-grid/mdc-layout-grid";
.small-padding {
  padding: 8px;
}

.medium-padding {
  padding: 16px;
}

.relative {
  position: relative;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
}

.fill {
  flex-grow: 1;
}

.full-height {
  height: 100%;
}